body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.section {

  width: 100%;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 80px;
}

ul.nav-itmes {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 10px;
}

ul.nav-itmes li {
  margin: 10px;
}

.hamburger {
  display: none;
}

.close-btn {
  display: none;
}

.main {

  display: flex;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.hero {
  padding: 0 30px 0 0;
  width: 80%;
}

.hero img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.right-block {
  padding: 15px;
  width: 30%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.right-block > h2 {
  color: yellow;
}

hr {
  color: white;
  height: 2px;
  width: 100%;
}

.main-content {
  display: flex;
}

.main-content > h1 {
  font-size: 39px;
  width: 40%;
  padding: 0 30px;
  margin-top: 1rem;
}

.btn-text {
  width: 60%;
  padding: 0 30px;
  color: #8685a8;
}

.card img {
  height: 160px;
  width: 160px;
  object-fit: scale-down;
}

.card {
  width: 28%;
  display: flex;
  justify-content: center;
}

.second-section {
  padding: 0 15px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.card-content {
  padding: 0 15px;
}

.card h3 {
  margin: 0;
}

.card h2 {
  margin: 0;
  font-size: 45px;
  color: #8685a8;
}

.card p {
  color: #8685a8;
}

#main-btn{
  height: 40px;
  background-color: red;
  color: white;
  border: 0;
}

#main-btn:hover{
  background-color: black;
}

footer{
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  body {
    margin: 0;
    padding: 0;
  }

  .section {
    padding: 8px;
  }

  .header img {
    height: 60px;
  }

  .hamburger {
    display: block;
    background-color: white;
    border: 0;
    font-size: xx-large;
  }

  .close-btn{
    background-color: white;
    border: 0;
    font-size: xx-large;
  }

  ul.nav-items {
    display: none;
  }

  nav.open .nav-items {
    display: flex;
    flex-direction: column;
    z-index: 100;
    position: fixed;
    right: 0;
    background-color: white;
    height: 100%;
    width: 50vw;
    text-align: right;
  }

  nav.open .hamburger {
    display: none;
  }

  nav.open .close-btn {
    display: block;
  }

  .main {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
  }

  .right-block {
    width: 100%;
    height: 50%;
    padding: 30px;
  }

  .hero {
    box-sizing: border-box;
    padding: 30px;
   
    width: 100%;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .main-content > h1 {
    width: 100%;
    padding: 20px 0;
  }

  .btn-text {
    width: 100%;
    padding: 0;
  }

  .second-section{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .card{
    width: 100%;
    margin: 10px 0;
  }

  .card img{
    width: 40%;
  }

  .card-content{
    font-size: x-small;
    width: 60%;
  }

}
